<template>
  <div class="flex flex-col bg-[#42b983] rounded m-5">
    <h1 class="text-4xl m-3">{{roomOwner}}'s Room</h1>
      <div class="items-center flex flex-row justify-center">
        <div class="rounded bg-gray-300 p-5 m-3 items-center">
          <h1 class='p-3 text-lg text-[#42b983]'>{{displayName}}</h1>
          <h2 class='p-3 text-sm'>Wins: {{wins}}</h2>
          <h2 class='p-3 text-sm'>Losses: {{losses}}</h2>
        </div>
          <!-- <button v-for='item in rpsls' @click="sendMove" v-bind:id="item.name" class="button rounded bg-gray-300 p-3 m-3 w-1/5">
            <img :src="require(`@/${item.img}`)" alt="">{{item.name}}</button> -->
            <div class="item-center justify-center flex">

              <button @click="sendMove" class="button rounded-full p-3 m-3 hover:bg-gray-300"><img id="rock" src="./images/rock.png" alt=""></button>
              <button @click="sendMove" class="button rounded-full p-3 m-3 hover:bg-gray-300"><img id="paper" src="./images/paper.png" alt=""></button>
              <button @click="sendMove" class="button rounded-full  p-3 m-3 hover:bg-gray-300"><img id="scissors" src="./images/scissors.png" alt=""></button>
              <button @click="sendMove" class="button rounded-full p-3 m-3 hover:bg-gray-300"><img id="lizard" src="./images/lizard.png" alt=""></button>
              <button @click="sendMove" class="button rounded-full  p-3 m-3 hover:bg-gray-300"><img id="spock" src="./images/spockBtn.png" alt=""></button>
          </div>
  
      </div>
      <div ref="messages" class="h-fit m-3 rounded bg-gray-300 p-3">
        <h1 class="pb-5">Chat:</h1>
      </div>
      <form action="">
        <input v-model="message" id="input" autocomplete="off" class="border-solid border-2 border-[#42b983] rounded m-3 p-2"/><button @click="sendMessage" class="button rounded bg-gray-300 p-3 m-3 w-1/4" type="button">Send</button>
      </form>
      <button @click="testrpsls" class="button rounded-full p-3 m-3 hover:bg-gray-300 bg-sky-500">Send RPSLS with bits</button>
  </div>
</template>

<script>
  import router from '@/router';

  import SocketioService from '../services/socketio.service.js';
  export default {
    name: 'Room',
    data() {
      return {
        //roomName: localStorage.getItem(),
        roomOwner: sessionStorage.getItem("roomOwner"),
        room : sessionStorage.getItem("room"),
        //rpsls : [{name: "rock", img: "C:\Users\Tanner\Desktop\cs4690\ninja-jobs\src\views\images\lizard.png"}],
        //rpsls : [["rock", "./images/rock.png"], ["paper", "./images/paper.png"], ["scissors", "./images/scissors.png"], ["lizard", './images/lizard.png'], ["spock", "./images/spockBtn.png"]],
        chat : [],
        displayName: sessionStorage.getItem("displayName"),
        wins: sessionStorage.getItem("wins"),
        losses: sessionStorage.getItem("losses")
      }
    },
    methods: {
      startSocketIo() {
        SocketioService.setupSocketConnection();
        //console.log(SocketioService.socket)
        this.socket = SocketioService.socket;
        console.log(this.socket)
      },
      joinRoom(room){
        
        this.socket.emit("join-room", room, message => {
        console.log(message)
        // this.currentRoom = 'test';
        })
      },
      sendMessage() {
        this.socket.emit('rpsls', [this.message, 2], this.room, sessionStorage.getItem("id"))
      },
      sendMove(e){
        console.log(e.target.id)
        this.move = e.target.id;
        this.socket.emit('rpsls', [this.move, 1], this.room, sessionStorage.getItem("id"));
      },
      hello(){
        console.log("hello")
      },
      addText(text){
        const item = document.createElement('p');
        item.textContent = text;
        messages = this.$refs.messages
        console.log(messages)
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      },
      testrpsls(){
        let ab = this.generateAB("rock", "I'm gonna win!", sessionStorage.getItem("id"), "😊", sessionStorage.getItem("displayName"))
        console.log(ab)
        this.socket.emit('rpsls-bits', ab)
      },
      generateAB(move, text, id, emoticon, name){
    //spoofed data, will get the real data from the room
    //let move = "scissors"
    // let move = null
    // let text = "Hello, from Tanner wow this is really long, im totally gonna destroy you"
    // let id = "63686c8693671ccee36e36e0"
    // let emoticon = '😏'
    // let name = 'tdhancock'
    let length = 0;
    let moves = [["rock", "0001"], ["paper", "0010"], ["scissors", "0100"], ["lizard", "1000"], ["spock", "0000"]]
    let commands = []
    let data = []

    if(move){
        let moveCommand = "000"
        for(let i = 0; i < moves.length; i++){
            if(moves[i][0] == move){
                moveCommand += moves[i][1]
            }
        }
        length += 1;
        commands.push(moveCommand)
    }if(text){
        let textCommand = "0010000"
        let l = text.length + 1
        textCommand += l.toString(2).padStart(8, "0")
        commands.push(textCommand)
        length += 2;
        for(let i=0; i < l -1; i++){
            data.push(text.charCodeAt(i))
        }
        length += l -1;
    }if(id){
        let idCommand = "100"
        let l = id.length + 1;
        idCommand += l.toString(2).padStart(12, "0")
        commands.push(idCommand)
        length += 2;
        for(let i=0;i<l-1;i++){
            data.push(id.charCodeAt(i))
        }
        length += l -1;
    }if(emoticon){
        let eCommand = "011"
        let eMask = 0b111111111111
        eCommand += (emoticon.codePointAt(0) & eMask).toString(2).padStart(12, "0")
        commands.push(eCommand)
        length += 2
    }if(name){
        let nCommand = "1010000"
        let l = name.length + 1
        nCommand += l.toString(2).padStart(8, "0")
        commands.push(nCommand)
        length +=2 
        for(let i=0;i<l-1;i++){
            data.push(name.charCodeAt(i))
        }
        length += l -1;
    }
    
    //add leading 1 or 0 to commands
    for(let i=0;i<commands.length;i++){
        if(commands[i+1]){
            commands[i] = "1" + commands[i]
        }else{
            commands[i] = "0" + commands[i]
        }
    }
    
    console.log(data)
    console.log(length)
    console.log(commands)

    //create array buffer
    let ab = new ArrayBuffer(length)
    let dv = new DataView(ab);

    //add commands to dv
    let  x = 0;
    let parsedCommands = []
    while(x < commands.length){
        if(commands[x].length == 8){
            parsedCommands.push(parseInt(commands[x], 2))
        }if(commands[x].length == 16){
            let firstHalf = commands[x].substring(0,8)
            let secondHalf = commands[x].substring(8)
            console.log(firstHalf, secondHalf)
            parsedCommands.push(parseInt(firstHalf, 2))
            parsedCommands.push(parseInt(secondHalf, 2))
            //dv.setInt8(i, parseInt(commands[i])
        }
        x++;
    }
    //console.log(parsedCommands.length)
    //console.log(data.length)

    let y = 0;
    for(let i=0;i<parsedCommands.length;i++){
        dv.setInt8(i, parsedCommands[i])
        y++;
    }
    //console.log(y)
    //console.log(dv)
    let w = 0
    while(y<length){
        dv.setInt8(y, data[w])
        w++;
        y++;
    }
    console.log(dv)
    console.log(ab)
    return ab;
}
    },
    watch: {
      roomOwner(newOwner){
        this.roomOwner = sessionStorage.getItem("roomOwner")
      }
    },
    props: {
      chatList: []
    },
    async created() {
      if(!this.socket){
        SocketioService.setupSocketConnection();
        //console.log(SocketioService.socket)
        this.socket = SocketioService.socket;
      }
      console.log(this.socket)
      this.room = sessionStorage.getItem("room");
      this.joinRoom(sessionStorage.getItem("room"))

      this.socket.on('rpsls', function(msg) {
        if(msg[1] == "chat"){
          console.log(this.chat)

        }else{
          if(msg[0][1]==0){
            alert(msg[0][0] + " TIE GAME!")
            clearItems()
            router.push({name: 'world'})
          }
          else if(sessionStorage.getItem("id") == msg[1]){
            alert(msg[0][0] + " YOU WIN!")
            let wins = sessionStorage.getItem("wins");
            sessionStorage.setItem("wins", parseInt(wins) + 1);
            clearItems()
            router.push({name: 'world'})
          }else{
            alert(msg[0][0] + " YOU LOST!")
            let losses = sessionStorage.getItem("losses");
            sessionStorage.setItem("losses", parseInt(losses) + 1);
            clearItems()
            router.push({name: 'world'})
          }
        }
        
      });

      this.socket.on('gameUpdate', function(ROOM) {
        console.log(ROOM.player1.displayName)
        sessionStorage.setItem("roomOwner", ROOM.player1.displayName);
        sessionStorage.setItem("player2", ROOM.player2.id)
        sessionStorage.setItem("player1", ROOM.player1.id)
      })

      function clearItems(){
        sessionStorage.removeItem("room")
        sessionStorage.removeItem("commentators")
        sessionStorage.removeItem("player2")
        sessionStorage.removeItem("player1")
        sessionStorage.removeItem("roomOwner")
      }
    }
  }


  //recieve rpsls protocol
  

  //let joinRoomBtn = document.getElementById("joinRoomBtn");
  //joinRoomBtn.addEventListener("click", () => {

 // })
</script>